<header class='header__menu1'>
    <p class='header__menu1-text'>isora wonderland</p>
    <a href="/home/logout" class='header__menu1-link'>ログアウト</a>
</header>

<main>
    <div class="menu1__top">
        <img src="/flamex2.png" class='menu1__top-img'>
        <div class='menu1__top--title-block'>
            <h1 class='menu1__top-title'>Menu</h1>
        </div>
    </div>
    <div class="select-big">
        <li class='select-big__list'><a href="/home/menu1" class='select-big__link'>1~500</a></li>
        <span><li class='select-big__text'>501~1000</li></span>
        <li class='select-big__list'><a href="/home/menu3" class='select-big__link'>1001~1500</a></li>
        <li class='select-big__list'><a href="/home/menu4" class='select-big__link'>1501~2000</a></li>
    </div>
    <div class="select-small">
        <%# <div class="selecr-small__line1">
            <a href="/home/leveltop/11" id='stage11' class='stage_element incomplete'>stage 11 (501~)</a>
            <a href="/home/leveltop/12" id='stage12' class='stage_element incomplete'>stage 12 (551~)</a>
        </div>
        <div class="selecr-small__line2">
            <a href="/home/leveltop/13" id='stage13' class='stage_element incomplete'>stage 13 (601~)</a>
            <a href="/home/leveltop/14" id='stage14' class='stage_element incomplete'>stage 14 (651~)</a>
        </div>
        <div class="selecr-small__line3">
            <a href="/home/leveltop/15" id='stage15' class='stage_element incomplete'>stage 15 (701~)</a>
            <a href="/home/leveltop/16" id='stage16' class='stage_element incomplete'>stage 16 (751~)</a>
        </div>
        <div class="selecr-small__line4">
            <a href="/home/leveltop/17" id='stage17' class='stage_element incomplete'>stage 17 (801~)</a>
            <a href="/home/leveltop/18" id='stage18' class='stage_element incomplete'>stage 18 (851~)</a>
        </div>
        <div class="selecr-small__line5">
            <a href="/home/leveltop/19" id='stage19' class='stage_element incomplete'>stage 19 (901~)</a>
            <a href="/home/leveltop/20" id='stage20' class='stage_element incomplete'>stage 20 (951~)</a>
        </div> %>
        <div class="selecr-small__line1">
            <a href="#" id='stage11' class='stage_element incomplete'>stage 11 (501~)</a>
            <a href="#" id='stage12' class='stage_element incomplete'>stage 12 (551~)</a>
        </div>
        <div class="selecr-small__line2">
            <a href="#" id='stage13' class='stage_element incomplete'>stage 13 (601~)</a>
            <a href="#" id='stage14' class='stage_element incomplete'>stage 14 (651~)</a>
        </div>
        <div class="selecr-small__line3">
            <a href="#" id='stage15' class='stage_element incomplete'>stage 15 (701~)</a>
            <a href="#" id='stage16' class='stage_element incomplete'>stage 16 (751~)</a>
        </div>
        <div class="selecr-small__line4">
            <a href="#" id='stage17' class='stage_element incomplete'>stage 17 (801~)</a>
            <a href="#" id='stage18' class='stage_element incomplete'>stage 18 (851~)</a>
        </div>
        <div class="selecr-small__line5">
            <a href="#" id='stage19' class='stage_element incomplete'>stage 19 (901~)</a>
            <a href="#" id='stage20' class='stage_element incomplete'>stage 20 (951~)</a>
        </div>
        <input id="stage11_score" type="hidden" value="<%= @score_stage11.score%>"/>
        <input id="stage12_score" type="hidden" value="<%= @score_stage12.score%>"/>
        <input id="stage13_score" type="hidden" value="<%= @score_stage13.score%>"/>
        <input id="stage14_score" type="hidden" value="<%= @score_stage14.score%>"/>
        <input id="stage15_score" type="hidden" value="<%= @score_stage15.score%>"/>
        <input id="stage16_score" type="hidden" value="<%= @score_stage16.score%>"/>
        <input id="stage17_score" type="hidden" value="<%= @score_stage17.score%>"/>
        <input id="stage18_score" type="hidden" value="<%= @score_stage18.score%>"/>
        <input id="stage19_score" type="hidden" value="<%= @score_stage19.score%>"/>
        <input id="stage20_score" type="hidden" value="<%= @score_stage20.score%>"/>
    </div>

    <script type='text/javascript'>
        // クリアしたレベルの背景色を変化させる処理
        var score_stage11 = document.querySelector('#stage11_score').value;
        var score_stage12 = document.querySelector('#stage12_score').value;
        var score_stage13 = document.querySelector('#stage13_score').value;
        var score_stage14 = document.querySelector('#stage14_score').value;
        var score_stage15 = document.querySelector('#stage15_score').value;
        var score_stage16 = document.querySelector('#stage16_score').value;
        var score_stage17 = document.querySelector('#stage17_score').value;
        var score_stage18 = document.querySelector('#stage18_score').value;
        var score_stage19 = document.querySelector('#stage19_score').value;
        var score_stage20 = document.querySelector('#stage20_score').value;

        var stage11_element = document.getElementById("stage11");
        var stage12_element = document.getElementById("stage12");
        var stage13_element = document.getElementById("stage13");
        var stage14_element = document.getElementById("stage14");
        var stage15_element = document.getElementById("stage15");
        var stage16_element = document.getElementById("stage16");
        var stage17_element = document.getElementById("stage17");
        var stage18_element = document.getElementById("stage18");
        var stage19_element = document.getElementById("stage19");
        var stage20_element = document.getElementById("stage20");
        if (score_stage11 >= 45){
            stage11_element.classList.add("complete");
            stage11_element.classList.remove("incomplete");
        }
        if (score_stage12 >= 45){
            stage12_element.classList.add("complete");
            stage12_element.classList.remove("incomplete");
        }
        if (score_stage13 >= 45){
            stage13_element.classList.add("complete");
            stage13_element.classList.remove("incomplete");
        }
        if (score_stage14 >= 45){
            stage14_element.classList.add("complete");
            stage14_element.classList.remove("incomplete");
        }
        if (score_stage15 >= 45){
            stage15_element.classList.add("complete");
            stage15_element.classList.remove("incomplete");
        }
        if (score_stage16 >= 45){
            stage16_element.classList.add("complete");
            stage16_element.classList.remove("incomplete");
        }
        if (score_stage17 >= 45){
            stage17_element.classList.add("complete");
            stage17_element.classList.remove("incomplete");
        }
        if (score_stage18 >= 45){
            stage18_element.classList.add("complete");
            stage18_element.classList.remove("incomplete");
        }
        if (score_stage19 >= 45){
            stage19_element.classList.add("complete");
            stage19_element.classList.remove("incomplete");
        }
        if (score_stage20 >= 45){
            stage20_element.classList.add("complete");
            stage10_element.classList.remove("incomplete");
        }

    </script>


</main>
<footer class='footer__menu1'>
    <img src="/background.jpg">
</footer>