<header class="header__test">
    <%# <p class="header__test-text">isora wonderland</p> %>
    <img src="/menutitle.png" class='header__menu1-text'>
</header>

<main>
    <div class="practice-container">
        <img class="practice-container__test" src="/test.png">
        <div class="practice-container__border">
            <p><%= "Stage #{@level} (#{(@level.to_i-1)*50 + 1}~#{@level.to_i*50})"%></p>
            <div class="practice-container__border__message">
                <p>練習 10words</p>
            </div>
            <div class="practice-container__border__btn">
                <a href="<%= "/test/testtop/#{@level}/1"%>">
                    <input type="image" src="/practice1.png">
                </a>
                <a href="<%= "/test/testtop/#{@level}/2"%>">
                    <input type="image" src="/practice2.png">
                </a>
                <a href="<%= "/test/testtop/#{@level}/3"%>">
                    <input type="image" src="/practice3.png">
                </a>
                <a href="<%= "/test/testtop/#{@level}/4"%>">
                    <input type="image" src="/practice4.png">
                </a>
                <a href="<%= "/test/testtop/#{@level}/5"%>">
                    <input type="image" src="/practice5.png">
                </a>
            </div>
            <div class="practice-container__border__return">
                <a href="<%= "/home/leveltop/#{@level}"%>">
                    <input type="image" src="/return2.png">
                </a>
            </div>
        </div>
    </div>
</main>
